@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #ff671f;
  --secondary-color: #021b59;
  --links-color: #53a4ff;
}

h1,
h2 {
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

a {
  color: #53a4ff;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
